.hero {
  background-color: #2c2c2c;
  border: 0;
  box-sizing:border-box;
  width: 100%;

  height: calc(100vh - 100px);
  padding: 40px;
  margin: 0 auto;
  color: $main-white;
  &__wrapper {
    width: 100%;
    min-height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__caption {
    font-size: 64px;
    font-weight: 600;
    line-height: 68px;
    letter-spacing: -2px;
  }
  &__text {
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0;
    padding-right: 40%;
    padding-bottom: 60px;
  }
  &__btn {
    width: 270px;
    height: 50px;
    box-sizing: border-box;
    background-color: $main-blue;
    border-radius: 8px;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    letter-spacing: 0;
    font-size: 15px;
    line-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: $main-white;
    margin-bottom: 160px;
  }
}
