@import 'utils';
@import 'fonts';
@import 'utils/normalize';
@import 'utils/vars';

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  scroll-behavior: smooth;
  background-color: #F2F6FA;
}

h1, h2, h3 {
  font-family: Poppins, sans-serif;
  font-weight: 600;
  letter-spacing: -2px;
}

@media screen and (max-width: 640px) {
  @import 'small-phone';
}

@media screen and (min-width: 641px) and (max-width: 1024px) {
  @import 'phone';
}

@media screen and (min-width: 1025px) and (max-width: 1279px) {
  @import 'tab';
}
