@import 'phone/header';
@import 'phone/hero';
@import 'phone/wellcome';
@import 'phone/service';
@import 'phone/experience';

body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #F2F6FA;
;
}
