.footer {
  font-family: Poppins, sans-serif;
  background-color: #2c2c2c;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  padding-top: 40px;
  &__form {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 90%;
    margin: 0 auto;
  }
  &__text {
    background-color: #2c2c2c;
    color: $main-white;
    font-size: 15px;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 0;
    opacity: 70%;
    border: none;
    border-bottom: solid $main-white 2px;
    height: 40px;
    padding-left: 30px;
    &:focus {
      border-bottom: solid $main-blue 2px;
      opacity: 1;
      outline: none;
    }
  }
  &__message {
    background-color: #2c2c2c;
    color: $main-white;
    outline: none;
    border: none;
    resize: none;
    font-size: 15px;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 0;
    opacity: 70%;
    border-bottom: solid $main-white 2px;
    height: 40px;
    padding-left: 30px;
    &:focus {
      border-bottom: solid $main-blue 2px;
      opacity: 1;
      outline: none;
    }
  }
  &__btn {
    height: 56px;
    background-color: #144ed4;
    border-radius: 8px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0;
  }
  &__contacts {
    color: $main-white;
    margin: 0 40px;
    &-title {
      font-weight: 600;
      font-size:32px;
      line-height: 150%;
      letter-spacing: 0;
    }
  }
  &__label {
    font-weight: 700;
    font-size: 13px;
    line-height: 100%;
    letter-spacing: 3px;
    text-transform: uppercase;
    opacity: 50%;
  }
  &__phone {
    text-decoration: none;
    color: $main-white;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0;

    &:hover {
      text-decoration: none;
    }
    &:active {
      text-decoration: none;
    }
  }
  &__address {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: $main-white;
    line-height: 150%;
    letter-spacing: 0;
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
    &:active {
      text-decoration: none;
    }
    &:visited {
      text-decoration: none;
    }
  }
  &__contact {
    display: flex;
    gap: 40px;
    align-items: center;
  }
  &__social {
    display: block;
    width: 40px;
    height: 40px;
  }
  &__tweeter {
    background-image: url('../images/logo/tweeter.svg');
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    color:#fff;
  }
    &__facebook {
    background-image: url('../images/logo/facebook.svg');
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    color:#fff;
  }
    &__instagram {
    background-image: url('../images/logo/instagram.svg');
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    color:#fff;
  }
  &__menu {
    margin: 0 40px;
    padding-top: 60px;
  }
  &__logo {
    display: block;
    width: 45px;
    height: 25px;
    &-link {
      display: block;
      width: 100%;
      height: 100%;
      color: $main-white;
      background-size:contain;
      background-repeat:no-repeat;
       background-image: url('../images/logo/Air.svg');
    }
  }
  &__nav {
    &-item {
      list-style: none;
    }
    &-link {
      font-family: Poppins, sans-serif;
      font-weight: 700;
      font-size: 13px;
      line-height: 150%;
      letter-spacing: 3px;
      text-transform: uppercase;
      color: $main-white;
      text-decoration: none;
    }
  }
  &__list {
    background-color:#2c2c2c;
    padding: 60px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;

  }
}
